{{> head}}
{{> navbar}}
    <div class="row">
        <div class="col-8">
            <h1>Iron man</h1>
            <p>In Iron Man, Tony Stark is an industrialist and master engineer who builds a mechanized suit of armor and becomes the superhero Iron Man. The film had been in development since 1990 at Universal Pictures, 20th Century Fox, and New Line Cinema at various times, before Marvel Studios reacquired the rights in 2006.</p>
        </div>
        <div class="col-4">
            <img src="/assets/image/ironman.jpeg" class="img-thumbnail"/>
        </div>
    </div>
{{> footer}}  